.profileInputs{
  

    
    width: 80vw;
    padding: 5%;
    margin: 5%;
    margin-left: -5% !important;
    border-top-color:transparent !important;
    border-left-color:transparent !important;
    border-right-color:transparent !important;
    /* border-color: var(--lightBlue); */
    border-bottom-color: var(--lightBlue);
    color:#707070;
    font-family: roboto;
    font-size: .8rem;
    font-weight: 500; 


}




@media screen and (min-width: 200px) and (max-width: 310px){

    .profileInputs{
  

    
        width: 80vw;
        padding: 5%;
        margin-left: 10% !important;
        /* margin-left: -5% !important; */
        border-top-color:transparent !important;
        border-left-color:transparent !important;
        border-right-color:transparent !important;
        /* border-color: var(--lightBlue); */
        border-bottom-color: var(--lightBlue);
        color:#707070;
        font-family: roboto;
        font-size: .8rem;
        font-weight: 500; 
    

}

    .profileContainer{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .register-container{
        height: 30%;
        width: 100%;
        margin: auto;
        background-color: aqua;
    }

    .profileBtnContainer{
        display: flex !important;
        flex-direction: column !important;
        margin: auto !important;
        width: 90%;
     
    }
    
    .profileBtn {
        width: 100% !important;
    }
    .close-icon{
        opacity: 50%!important;
    }

}





@media screen and (min-width: 310px) and (max-width: 600px) {

    .profileInputs{
  

    
        /* width: 80vw; */
        padding: 5%;
        margin: 5%;
        /* margin-left: -5% !important; */
        margin-left: 10% !important;
        border-top-color:transparent !important;
        border-left-color:transparent !important;
        border-right-color:transparent !important;
        /* border-color: var(--lightBlue); */
        border-bottom-color: var(--lightBlue);
        color:#707070;
        font-family: roboto;
        font-size: .8rem;
        font-weight: 500; 
    

}

    .profileBtn{
        font-size: .80rem !important;
    }

    .profile-btns{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        align-content: center;
        width: 90vw;
        height: 70vh;
        /* background-color: blue; */
    }


    .profileContainer{
        display: flex;
        flex-direction: column;
        height: 100vh;
        /* background-color: aqua; */
    }
    .register-container{
        height: 30% important; 
        width: 100%;
        margin: auto;
      
    }

    .profileBtnContainer{
        display: flex !important;
        flex-direction: column !important;
        margin: auto !important;
        /* width: 90%; */
        /* background-color: pink; */
     
    }
    .close-icon{
        opacity: 50%!important;
    }
}


@media screen and (min-width: 520px) and (max-width: 900px) {

.profileInputs{
  

    
        width: 80vw;
        padding: 5%;
        margin: 5%;
        margin-left: -5% !important;
        border-top-color:transparent !important;
        border-left-color:transparent !important;
        border-right-color:transparent !important;
        /* border-color: var(--lightBlue); */
        border-bottom-color: var(--lightBlue);
        color:#707070;
        font-family: roboto;
        font-size: .8rem;
        font-weight: 500; 
    

}
.profileBtnContainer{
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
    width: 90%;
 
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close-icon{
    opacity: 50%!important;
}
}