
.details-container{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}
.move-content {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}
.title-space{
    padding: 3% 0 0 3%;
    font-family: roboto;
    font-weight: 900;
    font-size: 2rem;
}
.step-row{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start; 
    padding-top: 10%;
    padding-left: 2%;
}
.step-header{
    width: 40vw;
    padding-left: 18%;
    font-family: roboto;
    font-weight: 900;
    font-size: 1.4rem;
    background-color: transparent; 
}
.step-space{
    padding:1% 10% 0 15%;
}
.step{
    line-height: 1.2rem;
    font-family: roboto;
    font-weight: 300;
    font-size: .9rem;
}

